{% extends 'base.html.twig' %}

{% block title %}Les sites{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center" >	
        <h1> Gérer les sites  </h1>
    </div>

    <h2>Filtrer les sites </h2>
        
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <p> Le nom contient : </p>
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button> 
        </form>
    </nav>


    <div class="d-flex justify-content-center" >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sites</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form action="{{ path('ajout_rapide_site') }}" class="form-group form-control" method="POST">
                    <td><input type="text" name="nomSite" placeholder="un site" /></td>
                    <td><button type="submit" class="btn btn-success">Ajouter</button>
                 </form>
                </tr> 
                {% for s in sites %}
                    <tr>
                        <td id="ville">  {{s.nomSite}}</td>
                        <td> <a  class="btn btn-primary" href="{{ path('modifier_site',{ id:s.id }) }}"> Modifier</a>
                            <a onclick="return confirm('Supprimer :{{ s.nomSite }} ?')" href="{{ path('supprimer_site',{ id:s.id }) }}"  class="btn btn-danger del">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
		
    </div>
{% endblock %}
