{% extends 'base.html.twig' %}

{% block title %}Les sites{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center" >
            <h1> Gérer les sites  </h1>
        </div>

        <h3>Filtrer les sites </h3>

        <nav class="bg-light">
            <form class="form-inline">
                <div class="row">
                    <div class="col-2">
                        <p> Le nom contient : </p>
                    </div>
                    <div class="col">
                        <input class="form-control" type="search" placeholder="Rechercher" aria-label="Rechercher">
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-success" type="submit">Rechercher</button>
                    </div>
                </div>
            </form>
        </nav>


        <div class="d-flex justify-content-center" >
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Sites</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <form action="{{ path('ajout_rapide_site') }}" class="form-group form-control" method="POST">
                        <td><input type="text" name="nomSite" placeholder="un site" /></td>
                        <td><button type="submit" class="btn btn-success">Ajouter</button>
                    </form>
                </tr>
                {% for s in sites %}
                    <tr>
                        <td id="ville">  {{s.nomSite}}</td>
                        <td> <a class="btn btn-primary" data-toggle="modal" href="#modifier{{s.id}}"> Modifier</a>
                            <a onclick="return confirm('Supprimer :{{ s.nomSite }} ?')" href="{{ path('supprimer_site',{ id:s.id }) }}"  class="btn btn-danger del">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

        <!-- Modal -->
     {% for s in sites %}  
    <div class="modal fade" id="modifier{{s.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">     
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier</h5>
                </div>                
                 <form action="{{ path('modifier_site',{ id:s.id }) }}" class="form-group form-control" method="POST">
                    <input type="text" name="nomSite2" value="{{s.nomSite}}" />                
                    <div class="modal-footer center">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>                        
                    </div>
                </form>                                
            </div>
        </div>        
    </div>
    {% endfor %}


{% endblock %}
