{% extends 'base.html.twig' %}

{% block title %}Les villes{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center" >

            <h1> Gérer les villes  </h1>
        </div>

        <h3>Filtrer les villes </h3>

        <nav class="bg-light">
            <form class="form-inline" action="{{ path('villes') }}">
                <div class="row">
                    <div class="col-2">
                        <p> Le nom contient : </p>
                    </div>
                    <div class="col">
                        <input class="form-control mr-sm-2" type="search" name="valeur" placeholder="Rechercher" aria-label="Rechercher">
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="rechercher">Rechercher</button>
                    </div>
                </div>
            </form>
        </nav>

        <div class="d-flex justify-content-center" >
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Villes</th>
                    <th scope="col">Code Postal</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <form action="{{ path('ajout_rapide_ville') }}" class="form-group form-control" method="POST">
                        <td><input type="text" name="nomVille" placeholder="une ville" /></td>
                        <td><input type="text" name="codePostal" placeholder="un code postal"/></td>
                        <td><button type="submit" class="btn btn-success">Ajouter</button>
                    </form>
                </tr>
                 {% for v in villes %}
                        <tr>
                            <td id="ville">  {{v.nomVille}}</td>
                            <td> {{ v.codePostal}}</td>
                            <td> <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#modifier"> Modifier</button>
                                <a onclick="return confirm('Supprimer :{{ v.nomVille }} ?')" href="{{ path('supprimer_ville',{ id:v.id }) }}"  class="btn btn-danger del">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modifier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier</h5>
                </div>
                {% for v in villes %}
                <form action="{{ path('modifier_ville', {id:v.id}) }}" class="form-group form-control" method="POST">
                    <input type="text" name="nomVille2" value="{{v.nomVille}}" />
                    <input type="text" name="codePostal2" value=" {{ v.codePostal}}"/>                        

                    <div class="modal-footer center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                </form>
                {% endfor %}             
            </div>
        </div>
    </div>
{% endblock %}
