{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
	<div class="container">
		<div class="justify-content-center" >
			{{ form_start(form) }}
			<div class="col text-center">
				<h1 class="title"> Créer un utilisateur  </h1>
			</div>

			{% for error in errors %}
				<div class="alert alert-danger">

					{{ error.message }}

				</div>
			{% endfor %}
			<div class="alert alert-danger">
				{{ form_errors(form.password.first) }}
				{{ form_errors(form.password.second) }}
			</div>
			<div class="row" >
				<div class="col-6">
					<div class="mb-3">
						<label class="form-label" >Pseudo : <span class="obligatoire">*</span></label>
						{{ form_widget(form.pseudo,{'attr':{'class':'form-control'}}) }}
					</div>

					<div class="mb-3">
						<label class="form-label" >Nom : <span class="obligatoire">*</span></label>
						{{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
					</div>

					<div class="mb-3">
						<label class="form-label" >Prénom : <span class="obligatoire">*</span></label>
						{{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-6">

					<div class="mb-3">
						<label class="form-label" >Email : <span class="obligatoire">*</span></label>
						{{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
					</div>

					<div class="mb-3">
						<label class="form-label" >Téléphone : </label>
						{{ form_widget(form.telephone,{'attr':{'class':'form-control'}}) }}
					</div>

					<div class="mb-3">
						<label class="form-label" >Site de rattachement : <span class="obligatoire">*</span></label>
						{{ form_widget(form.noSite,{'attr':{'class':'form-control'}}) }}
					</div>
				</div>

				<div class="mb-3">
					<label class="form-label"> {{form_label(form.password.first)}} <span class="obligatoire">*</span></label>
					{{ form_widget(form.password.first,{'attr':{'class':'form-control'}}) }}
				</div>
				<div class="mb-3">
					<label class="form-label">{{form_label(form.password.second)}} <span class="obligatoire">*</span></label>
					{{ form_widget(form.password.second,{'attr':{'class':'form-control'}}) }}
				</div>				
			</div>
			<p> <span class="obligatoire">*</span> Champs obligatoires </p>

			<div class="row">
				<div class="col text-center">
					<button type="submit" class="btn btn-primary" > S'inscrire</button>

					<a href="{{ path('accueil')}}" class="btn btn-secondary">Annuler</a>
				</div>
			</div>

		</div>
		{{ form_end(form) }}
	</div>
	</div>
{% endblock %}