{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="title">Créer une Sortie</h1>
            </div>
        </div>
        {{ form_start(formSortie) }}
        <div class="row">
            <div class="col-6">
                <!--debut template -->
                <div class="mb-3">
                    <label class="form-label">{{ form_label(formSortie.nom) }} <span class="obligatoire">*</span></label>
                    {{ form_widget(formSortie.nom,{'attr': {'class':'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form_label(formSortie.dateDebut) }} <span class="obligatoire">*</span></label>
                    {{ form_widget(formSortie.dateDebut,{'attr': {'class':'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form_label(formSortie.dateCloture) }} <span class="obligatoire">*</span></label>
                    {{ form_widget(formSortie.dateCloture,{'attr': {'class':'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form_label(formSortie.duree) }} <span class="obligatoire">*</span></label>
                    {{ form_widget(formSortie.duree,{'attr': {'class':'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form_label(formSortie.nbInscriptionMax) }} <span class="obligatoire">*</span></label>
                    {{ form_widget(formSortie.nbInscriptionMax,{'attr': {'class':'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form_label(formSortie.descriptionInfos) }} </label>
                    {{ form_widget(formSortie.descriptionInfos,{'attr': {'class':'form-control'}}) }}
                </div>

                <!--fin template -->

            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Organisateur : </label>
                        <strong class="form-control bg-light">{{ app.user.nosite.nomsite }}</strong>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ville : <span class="obligatoire">*</span></label>
                        <select id="idville" class="form-control" onchange="lieux()">
                            {% for ville in villes %}
                                <option value="{{ ville.id }}">{{ ville.nomVille }} | {{ ville.codePostal }}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="mb-3" >
                    <label class="form-label">{{ form_label(formSortie.noLieu) }} <span class="obligatoire">*</span></label>
                    <div class="row">
                        <div class="col-8">
                        {{ form_widget(formSortie.noLieu,{'attr': {'class':'form-control','onchange':'infoslieux()'}}) }}
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AjoutLieu">+</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Rue : </label>
                        <strong class="form-control bg-light" id="rue"></strong>
                </div>
                <div class="mb-3">
                    <label class="form-label">Latitude : </label>
                        <strong class="form-control bg-light" id="latitude"></strong>
                </div>
                <div class="mb-3">
                    <label class="form-label">Longitude : </label>
                        <strong class="form-control bg-light" id="longitude"></strong>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="submit" name="btn-publier" value="0" class="btn btn-primary ">Créer</button>
                    <button type="submit" name="btn-publier" value="1" class="btn btn-secondary ">Créer et publier</button>
                    <button type="reset" class="btn btn-light ">Annuler</button>
                </div>
            </div>
        </div>

        {{ form_end(formSortie) }}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="AjoutLieu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un lieu</h5>
                </div>
                {{ form_start(formLieux) }}
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">{{ form_label(formLieux.noVille) }} <span class="obligatoire">*</span></label>
                        {{ form_widget(formLieux.noVille,{'attr': {'class':'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">{{ form_label(formLieux.nomLieu) }} <span class="obligatoire">*</span></label>
                        {{ form_widget(formLieux.nomLieu,{'attr': {'class':'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{{ form_label(formLieux.rue) }}</label>
                        {{ form_widget(formLieux.rue,{'attr': {'class':'form-control'}}) }}
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">{{ form_label(formLieux.latitude) }}</label>
                            {{ form_widget(formLieux.latitude,{'attr': {'class':'form-control'}}) }}
                        </div>
                        <div class="col">
                            <label class="form-label">{{ form_label(formLieux.longitude) }}</label>
                            {{ form_widget(formLieux.longitude,{'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>

                </div>
                <div class="modal-footer center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Inserer</button>
                </div>
                {{ form_end(formLieux) }}
            </div>
        </div>
    </div>

{% endblock %}
