{% extends 'base.html.twig' %}

{% block title %}Acceuil | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Date du jour : {{ "now"|date('j/m/Y') }}</p>
                {% if app.user %}
                    <p>Participant : {{ user.nom}} {{  user.prenom}} </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <label for="cbx_Site">Site : </label>
                    <select class="form-select">
                        {% for site in sites %}
                            <option value="{{ site.id }}">{{ site.nomSite }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">

                    <label>Le nom de la sortie contient :</label>
                    <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                </div>
                <div class="row">
                    <div>                <label>Entre: </label> <input type="date"> <label> et </label> <input type="date">
                    </div>
                </div>
            </div>


            <div class="col-4 align-self-center">
                <div>
                    <input type="checkbox" name="orga"> <label for="orga">Sortie dont je suis l'organisateur/trice</label>
                </div>
                <div>
                    <input type="checkbox" name="inscrit"> <label for="inscrit">Sortie auxquelles je suis inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" name="non-inscrit"> <label for="non-inscrit">Sortie auxquelles je ne suis pas inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" name="passer"> <label for="passer">Sortie passées</label>
                </div>
            </div>
            <div class="col-2 align-self-center">
                <input type="submit" class="btn btn-primary" value="Rechercher">
            </div>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">inscrit/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% if sorties is empty %}
                    <tr>
                        <td colspan="8">Aucune sortie</td>
                    </tr>
                {% else %}
                    {% for sortie in sorties %}
                        {% if sortie.noEtat.libelle == 'En création' or sortie.noEtat.libelle == 'Créer' and sortie.organisateur != app.user  %}
                        {% else %}
                            <tr>
                                <td>{{ sortie.nom }}</td><!-- nom de la sortie -->
                                <td>{{ sortie.dateDebut|date('j-m-Y') }}</td><!-- date de la sortie -->
                                <td>{{ sortie.dateCloture|date('j-m-Y') }}</td><!-- cloture-->
                                <td>{# TODO #}/{{ sortie.nbInscriptionMax }}</td><!-- inscrit/places -->
                                <td>{{ sortie.noEtat.libelle }}</td><!-- Etat -->
                                {% if app.user %}
                                    {% for inscrit in inscrits %}
                                        {% if inscrit.noSortie != sortie  %}
                                            <td></td>
                                        {% else %}
                                            <td>X</td>
                                        {% endif %}
                                    {% endfor %}
                                    {% if inscrits is empty %}
                                        <td></td>
                                    {% endif %}
                                {% else %}
                                    <td><a  class="btn btn-sm btn-outline-dark" href="{{ path('app_login') }}">Connection</a></td>
                                {% endif %}
                                <td><a class="btn btn-sm btn-outline-dark" href="{# todo #}">{{ sortie.organisateur.nom}}</a></td><!-- Organisateur -->
                                <td> <a href="{{ path('sortie_afficher',{ id:sortie.id }) }}">Afficher</a> 
                                {% if app.user %}
                                    
                                            {% if sortie.noEtat.libelle == 'Ouvert' %}
                                                {% if inscrits is empty %}
                                                    - <a href="{{ path('sortie_inscrire',{ id:sortie.id }) }}">S'inscrire</a>
                                                {%  else %}
                                                - <a href="{{ path('sortie_desister',{ id:sortie.id }) }}" >Se désister</a>                                            
                                                {% endif %}
                                            {% endif %}
                                    
                                {% endif %}
                                    {% if app.user %}
                                        {% if sortie.organisateur.pseudo == app.user.pseudo %}
                                            {% if sortie.noEtat.libelle == 'En création' or sortie.noEtat.libelle == 'Créer' %}
                                                - <a href="{{ path('sortie_modifier',{ id:sortie.id }) }}">Modifier</a> - <a href="">Publier</a>
                                            {% elseif sortie.noEtat.libelle == 'Ouvert' %}
                                                - <a  href="{{ path('sortie_annuler',{ id:sortie.id }) }}">Annuler</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {%  endfor %}
                {% endif %}
                </tbody>
            </table>
            {% if app.user %}
            <div class="container">
                <a class="btn btn-dark" href="{{ path('sortie_ajout') }}" >Créer un sortie</a>
            </div>
            {%  endif %}
        </div>
    </div>

{% endblock %}
